{% extends 'main/layout.html' %}
{% load static %}
{% load appay_tags %}
{% block csslink %} {% static 'appay/css/createform.css'%} {% endblock %}
{% block title %} Создание платежа {% endblock %}
{% block content %}

<div class="hiddenDiv pop-up" data-field="dealofcountrparty">
    <h4>Список dealofcountrparty</h4>
    <input type="text" class="form-control" oninput="searchTable(this)" placeholder="Поиск...">
    <table class="fl-table" data-field="dealofcountrparty">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
            </tr>
        </thead>
        <tbody>
            {% get_items_from_db 'dealofcountrparty' as items %}
            {% if items.error %}
            <tr>
                <td colspan="2">{{ items.error }}</td>
            </tr>
            {% else %}
            {% for item in items.data %}
            <tr onClick="selectElement('dealofcountrparty', 'selectedId', 'selectedName', this.parentNode)">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <div class="pop-up-close" onclick="closeHiddenDiv('dealofcountrparty')">✖</div>
</div>
<div class="hiddenDiv pop-up" data-field="budgetitem">
    <h4>Список budgetitem</h4>
    <input type="text" class="form-control" oninput="searchTable(this)" placeholder="Поиск...">
    <table class="fl-table" data-field="budgetitem">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
            </tr>
        </thead>
        <tbody>
            {% get_items_from_db 'budgetitem' as items %}
            {% if items.error %}
            <tr>
                <td colspan="2">{{ items.error }}</td>
            </tr>
            {% else %}
            {% for item in items.data %}
            <tr onclick="selectTableRow(this, 'budgetitem')">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <div class="pop-up-close" onclick="closeHiddenDiv('budgetitem')">✖</div>
</div>
<div class="hiddenDiv pop-up" data-field="project">
    <h4>Список project</h4>
    <input type="text" class="form-control" oninput="searchTable(this)" placeholder="Поиск...">
    <table class="fl-table" data-field="project">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
            </tr>
        </thead>
        <tbody>
            {% get_items_from_db 'project' as items %}
            {% if items.error %}
            <tr>
                <td colspan="2">{{ items.error }}</td>
            </tr>
            {% else %}
            {% for item in items.data %}
            <tr onclick="selectTableRow(this, 'project')">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <div class="pop-up-close" onclick="closeHiddenDiv('project')">✖</div>
</div>

<div class="overlay" id="overlay"></div>

<main class="content-wrapper">
    <div class="container-fluid">
        <div class="top-table">
            <h2>Создание заявки на оплату</h2>
        </div>


        <div class="main-info">
            <form method="POST">
                {% csrf_token %}
                <div class="buttons">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button id="add-row-btn" type="button" class="btn btn-info">Добавить документ</button>
                    <a href="{% url 'appay_main' %}" class="btn btn-secondary">Назад</a>
                </div>
                <div class="row">
<!-------------------------------- Название ----------------------------------------->
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="labin">
                                <label for="title">Название:</label>
                                <input name="title" type="text" class="form-control" placeholder="Введите название">
                            </div>
                        </div>
                    </div>
<!-------------------------------- Тип операции ----------------------------------------->
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="labin">
                                <label for="typeofoperations_name">Тип операции:</label>
                                <input name="typeofoperations_name" id="open-pop-typeofoperations" type="text" class="form-control" placeholder="Введите тип операции" oninput="showHiddenDiv(this)" readonly>
                                <input name="typeofoperations_id" type="hidden" >
                                <button type="button" onclick="showHiddenDiv(this, 'typeofoperations')" class="btn btn-info"><i
                                        class="fa-solid fa-list"></i></button>
                            </div>
                            <div class="hiddenDiv pop-up" data-field="typeofoperations">
                                <h4>Список Типов операции</h4>
                                <input type="text" class="form-control" oninput="searchTable(this)" placeholder="Поиск...">
                                <table class="fl-table" data-field="typeofoperations">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% get_items_from_db 'typeofoperations' as items %}
                                        {% if items.error %}
                                            <tr>
                                                <td colspan="2">{{ items.error }}</td>
                                            </tr>
                                        {% else %}
                                            {% for item in items.data %}
                                                <tr onclick="selectTableRow(this, 'typeofoperations')">
                                                    <td>{{ item.id }}</td>
                                                    <td>{{ item.name }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="pop-up-close" onclick="closeHiddenDiv('typeofoperations')">✖</div>
                            </div>
                        </div>
                    </div>
<!-------------------------------- Тип оплаты ----------------------------------------->
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="labin">
                                <label for="typeofpays_name">Тип оплаты:</label>
                                <input name="typeofpays_name" id="open-pop-typeofpays" type="text" class="form-control"
                                       placeholder="Введите тип оплаты" oninput="showHiddenDiv(this)"readonly>
                                <input name="typeofpays_id" type="hidden">
                                <button type="button" onclick="showHiddenDiv(this, 'typeofpays')" class="btn btn-info"><i
                                        class="fa-solid fa-list"></i></button>
                            </div>
                            <div class="hiddenDiv pop-up" data-field="typeofpays">
                                <div class="top-table">
                                    <h4>Список Типов оплаты</h4>
                                    <input type="text" class="form-control" oninput="searchTable(this)" placeholder="Поиск...">
                                </div>
                                <table class="fl-table" data-field="typeofpays">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% get_items_from_db 'typeofpays' as items %}
                                        {% if items.error %}
                                            <tr>
                                                <td colspan="2">{{ items.error }}</td>
                                            </tr>
                                        {% else %}
                                            {% for item in items.data %}
                                                <tr onclick="selectTableRow(this, 'typeofpays')">
                                                    <td>{{ item.id }}</td>
                                                    <td>{{ item.name }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="pop-up-close" onclick="closeHiddenDiv('typeofpays')">✖</div>
                            </div>
                        </div>
                    </div>
<!-------------------------------- Организация ----------------------------------------->
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="labin">
                                <label for="organizations_name">Организация:</label>
                                <input name="organizations_name" id="open-pop-organizations" type="text" class="form-control" placeholder="Введите организацию" oninput="showHiddenDiv(this)" readonly>
                                <input name="organizations_id" type="hidden" >
                                <button type="button" onclick="showHiddenDiv(this, 'organizations')" class="btn btn-info"><i
                                        class="fa-solid fa-list"></i></button>
                            </div>
                            <div class="hiddenDiv pop-up" data-field="organizations">
                                <div class="top-table">
                                    <h4>Список Организаций</h4>
                                    <input type="text" class="form-control" oninput="searchTable(this)" placeholder="Поиск...">
                                </div>
                                <table class="fl-table" data-field="organizations">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% get_items_from_db 'organizations' as items %}
                                        {% if items.error %}
                                            <tr>
                                                <td colspan="2">{{ items.error }}</td>
                                            </tr>
                                        {% else %}
                                            {% for item in items.data %}
                                                <tr onclick="selectTableRow(this, 'organizations')">
                                                    <td>{{ item.id }}</td>
                                                    <td>{{ item.name }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="pop-up-close" onclick="closeHiddenDiv('organizations')">✖</div>
                            </div>
                        </div>
                    </div>
<!-------------------------------- Банковская карта ----------------------------------------->
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="labin">
                                <label for="bankcards_name">Банковская карта:</label>
                                <input name="bankcards_name" id="open-pop-bankcards" type="text" class="form-control" placeholder="Введите банковскую карту" oninput="showHiddenDiv(this)"  readonly>
                                <input name="bankcards_id" type="hidden" >
                                <button type="button" onclick="showHiddenDiv(this, 'bankcards')" class="btn btn-info"><i
                                        class="fa-solid fa-list"></i></button>
                            </div>
                            <div class="hiddenDiv pop-up" data-field="bankcards">
                                <div class="top-table">
                                    <h4>Список Банковских карт</h4>
                                    <input type="text" class="form-control" oninput="searchTable(this)" placeholder="Поиск...">
                                </div>
                                <table class="fl-table" data-field="bankcards">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% get_items_from_db 'bankcards' as items %}
                                        {% if items.error %}
                                            <tr>
                                                <td colspan="2">{{ items.error }}</td>
                                            </tr>
                                        {% else %}
                                            {% for item in items.data %}
                                                <tr onclick="selectTableRow(this, 'bankcards')">
                                                    <td>{{ item.id }}</td>
                                                    <td>{{ item.name }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="pop-up-close" onclick="closeHiddenDiv('bankcards')">✖</div>
                            </div>
                        </div>
                    </div>
<!-------------------------------- Контрагент ----------------------------------------->
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="labin">
                                <label for="countrypartyes_name">Контрагент:</label>
                                <input name="countrypartyes_name" id="open-pop-countrypartyes" type="text" class="form-control" placeholder="Введите контрагента" oninput="showHiddenDiv(this)" readonly>
                                <input name="countrypartyes_id" type="hidden" value="{{ instance_field.id|default:'' }}">
                                <button type="button" onclick="showHiddenDiv(this, 'countrypartyes')" class="btn btn-info"><i
                                        class="fa-solid fa-list"></i></button>
                            </div>
                            <div class="hiddenDiv pop-up" data-field="countrypartyes">
                                <div class="top-table">
                                    <h4>Список Контрагентов</h4>
                                    <input type="text" class="form-control" oninput="searchTable(this)" placeholder="Поиск...">
                                </div>
                                <table class="fl-table" data-field="countrypartyes">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                            <th>Полное наименование</th>
                                            <th>БИН</th>
                                            <th>КБЕ</th>
                                            <th>Код ОКПО</th>
                                            <th>Страна</th>
                                            <th>Номер регистрации</th>
                                            <th>Регион</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% get_items_from_db 'countrypartyes' as items %}
                                        {% if items.error %}
                                            <tr>
                                                <td colspan="2">{{ items.error }}</td>
                                            </tr>
                                        {% else %}
                                            {% for item in items.data %}
                                                <tr onclick="selectTableRow(this, 'countrypartyes')">
                                                    <td>{{ item.id }}</td>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.fullname }}</td>
                                                    <td>{{ item.bin }}</td>
                                                    <td>{{ item.kbe }}</td>
                                                    <td>{{ item.codeOKPO }}</td>
                                                    <td>{{ item.country.name }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="pop-up-close" onclick="closeHiddenDiv('countrypartyes')">✖</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
<!-------------------------------- Дата Подачи ----------------------------------------->
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="labin">
                                <label for="dateofstart">Дата Подачи:</label>
                                <input name="dateofstart" type="date" class="form-control" placeholder="Выберите дату подачи">
                            </div>
                        </div>
                    </div>
<!-------------------------------- Дата Расхода ----------------------------------------->
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="labin">
                                <label for="dateofend">Дата Расхода:</label>
                                <input name="dateofend" type="date" class="form-control" placeholder="Выберите дату расхода">
                            </div>
                        </div>
                    </div>
<!-------------------------------- Комментарии ----------------------------------------->
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="labin">
                                <label for="comments">Комментарии:</label>
                                <input name="comments" class="form-control" placeholder="Введите комментарии">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tablepart">
                    <div class="table-wrapper">
                        <form method="POST">
                            {% csrf_token %}
                            <table class="fl-table" id="underTable">
                                <thead>
                                    <tr>
                                        <th>Выбрать</th>
                                        <th>Номер Строки</th>
                                        <th>Договор Контрагента</th>
                                        <th>Сумма Платежа </th>
                                        <th>Статья бюджета</th>
                                        <th>Проект</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!-- 1 -->
                                    <tr>
                                        <td><input type="checkbox" name="delete"></td>
                                        <td>1</td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="dealofcountrparty_name" class="select-input" type="text" class="form-control" placeholder="Выберите договора" oninput="showHiddenDiv(this, 'dealofcountrparty')" readonly>
                                                <input name="dealofcountrparty_id" type="hidden">
                                                <button type="button" onclick="showHiddenDiv(this, 'dealofcountrparty')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="paymentamount_name" id="open-pop-paymentamount" type="text" class="form-control" placeholder="Введите сумму платежа" oninput="showHiddenDiv(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="budgetitem_id" type="hidden" >
                                                <input name="budgetitem_name" id="open-pop-budgetitem" type="text" class="form-control" placeholder="Выберите статью бюджета" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'budgetitem')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="project_id" type="hidden" >
                                                <input name="project_name" id="open-pop-project" type="text" class="form-control" placeholder="Выберите проекты" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'project')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- 2 -->
                                    <tr>
                                        <td><input type="checkbox" name="delete"></td>
                                        <td>2</td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="dealofcountrparty_name" class="select-input" type="text" class="form-control" placeholder="Выберите договора" oninput="showHiddenDiv(this.parentNode, 'dealofcountrparty')" readonly>
                                                <input name="dealofcountrparty_id" type="hidden">
                                                <button type="button" onclick="showHiddenDiv(this.parentNode, 'dealofcountrparty')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>

                                        <td><div class="inner-table">
                                                <input name="paymentamount_name" id="open-pop-paymentamount" type="text" class="form-control" placeholder="Введите сумму платежа" oninput="showHiddenDiv(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="budgetitem_id" type="hidden" >
                                                <input name="budgetitem_name" id="open-pop-budgetitem" type="text" class="form-control" placeholder="Выберите статью бюджета" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'budgetitem')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="project_id" type="hidden" >
                                                <input name="project_name" id="open-pop-project" type="text" class="form-control" placeholder="Выберите проекты" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'project')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- 3 -->
                                    <tr>
                                        <td><input type="checkbox" name="delete"></td>
                                        <td>3</td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="dealofcountrparty_name" id="open-pop-dealofcountrparty" type="text" class="form-control" placeholder="Выберите договора" oninput="showHiddenDiv(this)" readonly>
                                                <input name="dealofcountrparty_id" type="hidden" >
                                                <button type="button" onclick="showHiddenDiv(this, 'dealofcountrparty')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                             </div>
                                        </td>
                                        <td><div class="inner-table">
                                                <input name="paymentamount_name" id="open-pop-paymentamount" type="text" class="form-control" placeholder="Введите сумму платежа" oninput="showHiddenDiv(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="budgetitem_id" type="hidden" >
                                                <input name="budgetitem_name" id="open-pop-budgetitem" type="text" class="form-control" placeholder="Выберите статью бюджета" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'budgetitem')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="project_id" type="hidden" >
                                                <input name="project_name" id="open-pop-project" type="text" class="form-control" placeholder="Выберите проекты" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'project')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- 4 -->
                                    <tr>
                                        <td><input type="checkbox" name="delete"></td>
                                        <td>4</td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="dealofcountrparty_name" id="open-pop-dealofcountrparty" type="text" class="form-control" placeholder="Выберите договора" oninput="showHiddenDiv(this)" readonly>
                                                <input name="dealofcountrparty_id" type="hidden" >
                                                <button type="button" onclick="showHiddenDiv(this, 'dealofcountrparty')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                             </div>
                                        </td>
                                        <td><div class="inner-table">
                                                <input name="paymentamount_name" id="open-pop-paymentamount" type="text" class="form-control" placeholder="Введите сумму платежа" oninput="showHiddenDiv(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="budgetitem_id" type="hidden" >
                                                <input name="budgetitem_name" id="open-pop-budgetitem" type="text" class="form-control" placeholder="Выберите статью бюджета" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'budgetitem')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="project_id" type="hidden" >
                                                <input name="project_name" id="open-pop-project" type="text" class="form-control" placeholder="Выберите проекты" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'project')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- 5 -->
                                    <tr>
                                        <td><input type="checkbox" name="delete"></td>
                                        <td>5</td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="dealofcountrparty_name" id="open-pop-dealofcountrparty" type="text" class="form-control" placeholder="Выберите договора" oninput="showHiddenDiv(this)" readonly>
                                                <input name="dealofcountrparty_id" type="hidden" >
                                                <button type="button" onclick="showHiddenDiv(this, 'dealofcountrparty')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                             </div>
                                        </td>
                                        <td><div class="inner-table">
                                                <input name="paymentamount_name" id="open-pop-paymentamount" type="text" class="form-control" placeholder="Введите сумму платежа" oninput="showHiddenDiv(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="budgetitem_id" type="hidden" >
                                                <input name="budgetitem_name" id="open-pop-budgetitem" type="text" class="form-control" placeholder="Выберите статью бюджета" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'budgetitem')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="project_id" type="hidden" >
                                                <input name="project_name" id="open-pop-project" type="text" class="form-control" placeholder="Выберите проекты" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'project')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- 6 -->
                                    <tr>
                                        <td><input type="checkbox" name="delete"></td>
                                        <td>6</td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="dealofcountrparty_name" id="open-pop-dealofcountrparty" type="text" class="form-control" placeholder="Выберите договора" oninput="showHiddenDiv(this)" readonly>
                                                <input name="dealofcountrparty_id" type="hidden" >
                                                <button type="button" onclick="showHiddenDiv(this, 'dealofcountrparty')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                             </div>
                                        </td>
                                        <td><div class="inner-table">
                                                <input name="paymentamount_name" id="open-pop-paymentamount" type="text" class="form-control" placeholder="Введите сумму платежа" oninput="showHiddenDiv(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="budgetitem_id" type="hidden" >
                                                <input name="budgetitem_name" id="open-pop-budgetitem" type="text" class="form-control" placeholder="Выберите статью бюджета" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'budgetitem')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="project_id" type="hidden" >
                                                <input name="project_name" id="open-pop-project" type="text" class="form-control" placeholder="Выберите проекты" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'project')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- 7 -->
                                    <tr>
                                        <td><input type="checkbox" name="delete"></td>
                                        <td>7</td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="dealofcountrparty_name" id="open-pop-dealofcountrparty" type="text" class="form-control" placeholder="Выберите договора" oninput="showHiddenDiv(this)" readonly>
                                                <input name="dealofcountrparty_id" type="hidden" >
                                                <button type="button" onclick="showHiddenDiv(this, 'dealofcountrparty')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                             </div>
                                        </td>
                                        <td><div class="inner-table">
                                                <input name="paymentamount_name" id="open-pop-paymentamount" type="text" class="form-control" placeholder="Введите сумму платежа" oninput="showHiddenDiv(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="budgetitem_id" type="hidden" >
                                                <input name="budgetitem_name" id="open-pop-budgetitem" type="text" class="form-control" placeholder="Выберите статью бюджета" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'budgetitem')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="project_id" type="hidden" >
                                                <input name="project_name" id="open-pop-project" type="text" class="form-control" placeholder="Выберите проекты" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'project')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- 8 -->
                                    <tr>
                                        <td><input type="checkbox" name="delete"></td>
                                        <td>8</td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="dealofcountrparty_name" id="open-pop-dealofcountrparty" type="text" class="form-control" placeholder="Выберите договора" oninput="showHiddenDiv(this)" readonly>
                                                <input name="dealofcountrparty_id" type="hidden" >
                                                <button type="button" onclick="showHiddenDiv(this, 'dealofcountrparty')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                             </div>
                                        </td>
                                        <td><div class="inner-table">
                                                <input name="paymentamount_name" id="open-pop-paymentamount" type="text" class="form-control" placeholder="Введите сумму платежа" oninput="showHiddenDiv(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="budgetitem_id" type="hidden" >
                                                <input name="budgetitem_name" id="open-pop-budgetitem" type="text" class="form-control" placeholder="Выберите статью бюджета" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'budgetitem')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="project_id" type="hidden" >
                                                <input name="project_name" id="open-pop-project" type="text" class="form-control" placeholder="Выберите проекты" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'project')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- 9 -->
                                    <tr>
                                        <td><input type="checkbox" name="delete"></td>
                                        <td>9</td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="dealofcountrparty_name" id="open-pop-dealofcountrparty" type="text" class="form-control" placeholder="Выберите договора" oninput="showHiddenDiv(this)" readonly>
                                                <input name="dealofcountrparty_id" type="hidden" >
                                                <button type="button" onclick="showHiddenDiv(this, 'dealofcountrparty')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                             </div>
                                        </td>
                                        <td><div class="inner-table">
                                                <input name="paymentamount_name" id="open-pop-paymentamount" type="text" class="form-control" placeholder="Введите сумму платежа" oninput="showHiddenDiv(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="budgetitem_id" type="hidden" >
                                                <input name="budgetitem_name" id="open-pop-budgetitem" type="text" class="form-control" placeholder="Выберите статью бюджета" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'budgetitem')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="project_id" type="hidden" >
                                                <input name="project_name" id="open-pop-project" type="text" class="form-control" placeholder="Выберите проекты" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'project')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- 10 -->
                                    <tr>
                                        <td><input type="checkbox" name="delete"></td>
                                        <td>10</td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="dealofcountrparty_name" id="open-pop-dealofcountrparty" type="text" class="form-control" placeholder="Выберите договора" oninput="showHiddenDiv(this)" readonly>
                                                <input name="dealofcountrparty_id" type="hidden" >
                                                <button type="button" onclick="showHiddenDiv(this, 'dealofcountrparty')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                             </div>
                                        </td>
                                        <td><div class="inner-table">
                                                <input name="paymentamount_name" id="open-pop-paymentamount" type="text" class="form-control" placeholder="Введите сумму платежа" oninput="showHiddenDiv(this)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="budgetitem_id" type="hidden" >
                                                <input name="budgetitem_name" id="open-pop-budgetitem" type="text" class="form-control" placeholder="Выберите статью бюджета" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'budgetitem')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-table">
                                                <input name="project_id" type="hidden" >
                                                <input name="project_name" id="open-pop-project" type="text" class="form-control" placeholder="Выберите проекты" oninput="showHiddenDiv(this)" readonly>
                                                <button type="button" onclick="showHiddenDiv(this, 'project')" class="btn btn-info"><i class="fa-solid fa-list"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </form>
                    </div>
                </div>
            </form>
        </div>




</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Находим кнопку "Добавить"
        var addButton = document.getElementById('add-row-btn');
        var rowCount = 1;
        // Добавляем обработчик события на клик по кнопке "Добавить"
        addButton.addEventListener('click', function() {
            // Находим таблицу
            var table = document.getElementById('underTable');

            // Создаем новую строку
            var newRow = table.insertRow();

            // Добавляем ячейки в новую строку
            newRow.innerHTML = `

            `;

            rowCount++;
        });
    });


    function showHiddenDiv(element, fieldName) {
        var hiddenDiv = document.querySelector(`.hiddenDiv[data-field="${fieldName}"]`);
        var overlay = document.getElementById('overlay');

        hiddenDiv.classList.add('active');
        overlay.classList.add('active');

        // Общая ссылка для всех элементов
        var url = `${fieldName}_data/`;

        // Здесь можно делать разные действия в зависимости от fieldName
        // Например, заполнение таблицы данными

        fetch(url)
            .then(response => response.json())
            .then(data => populateTable(fieldName, data))
            .catch(error => console.error(`Ошибка при получении данных: ${fieldName} data:`, error));
    }

    function populateTable(fieldName, data) {
        var tableBody = document.querySelector(`.hiddenDiv[data-field="${fieldName}"] tbody`);
        tableBody.innerHTML = "";

        if (Array.isArray(data)) {
            data.forEach(function (item) {
                var row = tableBody.insertRow();

                var commonCellNames = ['id', 'name'];
                commonCellNames.forEach(function (cellName) {
                    var cell = row.insertCell();
                    cell.innerText = item[cellName] || '';
                });


                if (fieldName === 'countrypartyes') {
                    var countrypartyesCellNames = ['fullname', 'bin', 'kbe', 'codeOKPO', 'country', 'numberofregistration', 'region'];
                    countrypartyesCellNames.forEach(function (cellName) {
                        var cell = row.insertCell();
                        cell.innerText = item[cellName] || '';
                    });
                }


                row.addEventListener("click", function () {
                    selectElement(fieldName, item.id, item.name);
                });
            });
        } else {
            console.error(`Data is not an array:`, data);
        }
    }

    function searchTable(element) {
        console.log('searchTable is called');
        var parentDiv = element.closest('.form-group');
        var fieldName = parentDiv.getAttribute('data-field');
        var input = element;
        var filter = input.value.toUpperCase();
        var table = parentDiv.querySelector('table');
        console.log('table:', table);
        var tr = table.getElementsByTagName("tr");

        for (var i = 0; i < tr.length; i++) {
            var td = tr[i].querySelector("td:nth-child(2)");

            if (td) {
                var txtValue = td.textContent || td.innerText;
                console.log('txtValue:', txtValue); // Проверьте значения, чтобы убедиться, что они корректны
                tr[i].style.display = txtValue.toUpperCase().includes(filter) ? "" : "none";
            }
        }
    }

    function highlightTableRow(fieldName) {
        var inputName = document.getElementsByName(`${fieldName}_name`)[0];
        var table = document.querySelector(`.hiddenDiv[data-field="${fieldName}"] table`);
        var tr = table.getElementsByTagName("tr");

        for (var i = 0; i < tr.length; i++) {
            var td = tr[i].getElementsByTagName("td")[1]; // Поиск второй ячейки (в данном случае, имя)
            if (td) {
                var txtValue = td.textContent || td.innerText;
                if (txtValue === inputName.value) {
                    tr[i].classList.add("selected");
                } else {
                    tr[i].classList.remove("selected");
                }
            }
        }
    }

    function selectTableRow(element, fieldName) {
        var inputName = document.getElementsByName(`${fieldName}_name`)[0];
        inputName.value = element.cells[1].innerText;

        closeHiddenDiv(fieldName);

        highlightTableRow(fieldName);
    }

    function selectElement(fieldName, selectedId, selectedName, parentDiv) {
        var inputName = parentDiv.querySelector(`input[name="${fieldName}_name"]`);
        var inputId = parentDiv.querySelector(`input[name="${fieldName}_id"]`);

        if (inputName && inputId) {
            inputName.value = selectedName;
            inputId.value = selectedId;

            closeHiddenDiv(fieldName);
        } else {
            console.error('Input element not found.');


            highlightTableRow(fieldName);

            if (fieldName === 'typeofpays') {
                var cashDropdown = document.getElementById('cashDropdown');
                var creditCardDropdown = document.getElementById('creditCardDropdown');

                if (cashDropdown && creditCardDropdown) {
                    if (selectedName === 'Оплата Картой') {
                        cashDropdown.style.display = 'block';
                        creditCardDropdown.style.display = 'none';
                    } else if (selectedName === 'Оплата Наличными') {
                        cashDropdown.style.display = 'none';
                        creditCardDropdown.style.display = 'block';
                    }
                } else {
                    console.error(`Dropdowns not found for field: ${fieldName}`);
                }
            }
        }
    }

    function closeHiddenDiv(fieldName) {
        var hiddenDiv = document.querySelector(`.hiddenDiv[data-field="${fieldName}"]`);
        var overlay = document.getElementById('overlay');

        hiddenDiv.classList.remove('active');
        overlay.classList.remove('active');
    }

</script>
{% endblock %}
