<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'LogReg/css/login.css'%}">
</head>
<body>


    <div class="wrapper">

        <form class="login" method="POST">
            {% csrf_token %}
            <p class="title">Регистрация аккаунта</p>
            <input type="text" placeholder="Имя пользователя" id="login" required name="username" autofocus/>
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Email" id="email" required name="email" autofocus/>
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Имя" id="first_name" required name="first_name" autofocus/>
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Фамилия" id="last_name" required name="last_name" autofocus/>
            <i class="fa fa-user"></i>
            <input type="password" placeholder="Пароль" id="psw" required name="password1" />
            <i class="fa fa-key"></i>
            <input type="password" placeholder="Повтори пароль" id="psw-repeat" required name="password2" autofocus/>
            <i class="fa fa-user"></i>
            <a href="{% url 'login_main' %}">Уже есть аккаунт? Войди</a>
            <button type="submit">
              <i class="spinner"></i>
              <span class="state">Зарегистрироваться</span>
            </button>
        </form>
        <footer><a target="blank" href="#">KazUni Project</a></footer>
    </div>
</form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var form = document.querySelector('.login');

            form.addEventListener('submit', function(event) {
                var username = form.querySelector('input[name="username"]').value;
                var email = form.querySelector('input[name="email"]').value;
                var firstName = form.querySelector('input[name="first_name"]').value;
                var lastName = form.querySelector('input[name="last_name"]').value;
                var password1 = form.querySelector('input[name="password1"]').value;
                var password2 = form.querySelector('input[name="password2"]').value;

                // Проверка, чтобы ни одна строка не осталась пустой
                if (!username || !email || !firstName || !lastName || !password1 || !password2) {
                    alert('Пожалуйста, заполните все поля.');
                    event.preventDefault();
                    return;
                }

                // Проверка, чтобы Password 1 не равнялся Password 2
                if (password1 !== password2) {
                    alert('Пароли не совпадают.');
                    event.preventDefault();
                    return;
                }

                // Проверка, чтобы EMAIL имел структуру email@mail.ru (пример)
                var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                if (!emailPattern.test(email)) {
                    alert('Пожалуйста, введите корректный адрес электронной почты.');
                    event.preventDefault();
                    return;
                }
            });
        });

            var working = false;
            $('.login').on('submit', function(e) {
              e.preventDefault();
              if (working) return;
                  working = true;
              var $this = $(this),
                $state = $this.find('button > .state');
                  $this.addClass('loading');
                  $state.html('Authenticating');
                  setTimeout(function() {
                        $this.addClass('ok');
                        $state.html('Welcome back!');
                        setTimeout(function() {
                          $state.html('Log in');
                          $this.removeClass('ok loading');
                          working = false;
                        }, 4000);
                  }, 3000);
            });
    </script>
</body>
</html>