{% extends 'main/layout.html' %}
{% load static %}
{% block csslink %} {% static 'regpay/css/createform.css'%} {% endblock %}
{% block title %} Создание платежа {% endblock %}
{% block content %}

      <main class="content-wrapper">
        <div class="container-fluid">
            <div class="top-table">
                <h2>Форма Заявки</h2>
                <button><a href="#">Добавить</a></button>
                <button><a href="{% url 'regpay_main' %}">Назад</a></button>
            </div>
            <div class="table">
                <div class="main">
                    <div class="main-inner row">
                        <div class="main-inner-info col">
                            <h6>Информация о заявке</h6>
                            <hr>
                            <div class="main-inne col inline">
                                    <div class="main-inner-info-1">
                                        <div class="main-inner-info-1-name1">
                                            <p>Название :</p>
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <p>Статья бюджета :</p>
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <p>Сумма :</p>
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <p>Комментарии:</p>
                                        </div>
                                    </div>
                                    <div class="main-inner-info-2">
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="main-inner-contracts col">
                                <h6>Информация о контракте :</h6>
                                <hr>
                                <div class="main-inne">
                                    <div class="main-inner-info-1">
                                        <div class="main-inner-info-1-name1">
                                            <p>Предмет договора: </p>
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <p>Контрагент:</p>
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <p>Сумма:</p>
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <p>Адресс:</p>
                                        </div>
                                    </div>
                                    <div class="main-inner-info-2">
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-inner-contractinfo col">
                                <h6>Дополнительная информация</h6>
                                <hr>
                                <div class="main-inne">
                                    <div class="main-inner-info-1">
                                        <div class="main-inner-info-1-name1">
                                            <p>Номер:</p>
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <p>Контактный номер:</p>
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <p>Контактный e-mail:</p>
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <p>Дата:</p>
                                        </div>
                                    </div>
                                    <div class="main-inner-info-2">
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                        <div class="main-inner-info-1-name1">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="main-comments">
                            <h6>Комментарии</h6>
                            <div class="main-comments-input">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <div class="main-comments-btn">
                                <button class="btn col-md-2 btn-primary" id="btn4">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}